.captcha {
    margin-top: 10px;
    margin-bottom: 10px;
}
.site_title {
    font-size: 13px;
}

.alert-danger ul {
    text-align: left;
}

.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    margin-bottom: 0;
}

.login_content div {
    margin-bottom: 20px;
}